# Firebase - JANGAN pernah commit file ini, isinya API key project kamu
app/google-services.json

# Build & Gradle
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build/
build/

# Log
*.log
